/* createUser.css */

.createUser__container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Dancing Script', cursive;
}

.createUser__container form {
    display: flex;
    flex-direction: column;
}

.createUser__container label {
    margin-bottom: 8px;
    font-weight: 550;
}

.createUser__container input,
.createUser__container select {
    margin-bottom: 16px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.createUser__container button {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.createUser__container button:hover {
    background-color: #45a049;
}

.createUser__container p {
    margin-top: 10px;
    font-size: 14px;
}

.error-message {
    color: #ff4d4d;
}

.success-message {
    color: #4caf50;
}

.warning-message {
    color: #ffcc00;
}

/* Estilo para pantallas más pequeñas (ajusta según sea necesario) */
@media (max-width: 600px) {
    .createUser__container {
        max-width: 100%;
        padding: 10px;
    }
}