/* editUser.css */

.editUser__container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Dancing Script', cursive;
}

.editUser__container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.editUser__container label {
    margin-bottom: 8px;
    font-weight: 550;
}

.editUser__container input,
.editUser__container select {
    margin-bottom: 16px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    /* Ocupa el 100% del ancho del contenedor */
}

.editUser__container button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 5px;
    /* Ocupa el 100% del ancho del contenedor */
}

.editUser__container button:hover {
    background-color: #0056b3;
}