/* assets/styles/login.css */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Dancing Script', cursive;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 8px;
    font-weight: 550;
}

.login-container input {
    margin-bottom: 16px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-container button {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.login-container a {
    text-decoration: none;
    color: #59505e;
}

.login-container p {
    margin-top: 10px;
    font-size: 14px;
}

.error-message {
    color: #ff4d4d;
}

.back{
    margin: 5px;
    font-size: 18px;
    text-align: center;
}

/* Estilos para pantallas más pequeñas (ajusta según sea necesario) */
@media (max-width: 600px) {
    .login-container {
        padding: 10px;
    }

    .login-container input,
    .login-container button {
        font-size: 12px;
    }
}